@charset "utf-8";
/* www.writersllc.com Admin Panel CSS Document */
/*
Dark Blue - 16456c (000d15) , 
Dark Gray - 3b3b3b3 , Light Gray - 535353 , 
*/

/*--------------------Initialization : Starts--------------------*/

body {
	margin: 0px; padding:0px; background:url(../images/left_bg.gif) repeat-y top left; font-family:Verdana,Arial,Helvetica,sans-serif; font-size:12px; color:#535353; line-height:15px; border-top-width: 0px;}
h1, h2, h3, h4, p, span, div, ul, li{ margin:0px; padding:0px;} 
html, body, div, h1, h2, h3, h4, h5, p, span, a, a:hover { outline-style:none; outline-width:0;}
.errorMsg{ padding:0px 0px 8px 0px; color:#FF0000; font-weight:bold;}
.clearit{ clear:both;}
.testing{ border:1px solid #ff0000;}
.float_lt{ float:left;}
.float_rt{ float:right;}
/**/
.plainLink{float:left; margin:3px; padding:3px;font-weight:bold;}
.plainLink a { color:#535353; text-decoration:none;}
.plainLink a:hover { color:#16456c; text-decoration:underline;}
/**/
/*--------------------Initialization : Ends--------------------*/

/*--------------------Admin Setup : Starts--------------------*/
.mainContainer{	margin:0px auto; width:100%;}

/*Title Bar : Starts*/
.titlebar{	float:left; background:#fff url(../images/md-patient-masthead-tile.jpg) repeat-x left 0;	width:100%; height:70px;}
.titlebar_lt{ float:left; /*background:url(../images/titlebar_lt.jpg) no-repeat left top;*/ width:100%; height:33px; padding-bottom:10px; border-bottom: solid 1px #00a5ee;}
.titlebar_rt{ float:right;/* background:url(../images/titlebar_rt.jpg) no-repeat right top;*/ width:100%; height:33px;}
.titlebar_rt h1
{float:left; padding:4px 10px 0px 8px; /*padding:8px 14px 5px 115px;*/ /*background:url(../images/bullet_1.png) no-repeat top left;*/
background-position:10px 2px; width:auto; height:18px; font-size:11px; font-weight:200; /*font-weight:bold;*/ /*text-transform:uppercase;*/ color:#fff; text-align:left; margin-top:11px; border-right: solid 1px #00a5ee; font-family: Verdana,Arial,Helvetica,sans-serif;}
.titlebar_rt .DateTime_hold{ float:left;  width:auto;  color:#fff; font-weight:200; margin-top:15px; }
.titlebar_rt .DateTime_hold .DateTime_Sprt{ float:right; padding:10px 10px 7px 10px; background:url('../images/sprt_time.gif') no-repeat right bottom; height: 20px; /*width: 36px;*/}
.titlebar_rt .DateTime_hold .Dtime{  padding:10px 0px 7px 0px;} /* padding:10px 10px 7px 10px; }*/ 
/*Title Bar : Ends*/

/*Menu Bar : Starts*/
.menubar{ float:left;/* background:url('../images/menubar_rpt.jpg') repeat-x left top;*/ width:auto; margin-top:10px; padding-left:10px;/*height:59px; */
}
.menubar .FormLabel{ float:left; padding:5px; /*text-transform:uppercase;*/ font-size:11px;/* font-weight:bold;*/ color:#fff;}
.menubar .FormInput_hold{ float:left; padding:6px 4px 3px 4px;}
.menubar .FormInput{ float:left; padding:2px; min-width:150px;}
.menubar .FormTxt{ float:left; padding:7px 9px 0px 15px; border-left: solid 1px #00a5ee; border-right: solid 1px #00a5ee; color:#fff;}
.menubar  a.menubar_links{font-weight: bold; color: #FFF !important;border-radius: 3px; box-shadow: 0px 0px 6px #005073; float:right; display:block; margin:-1px 13px; padding:7px 10px; background:#009fe3; border-right: solid 1px #00a5ee; text-decoration:none; font-weight:bold;}
.menubar  a.menubar_links:hover{color:#000d15; text-decoration:none;}
/*Menu Bar : Ends*/

/*Site Content : Starts*/
.SiteCnt{float:left; width:100%; min-height:200px;}
.SiteCnt2{float:left; background-color:#f7f7f7; font-size:13px; font-weight:bold; width:100%; height:auto; padding:5px 5px 5px 5px;}

/*.col_lt{ float:left; width:227px;  }*/
.col_rt{ float:left; width:84.8%; }
.col_rt h1{float:left; /*padding:8px 14px 5px 85px;*/ padding:8px 0px 5px 30px;	background:url(../images/bullet_3.gif) no-repeat top left #e8e8e8;
background-position:10px; width:100%; height:18px; font-size:11px; font-weight:bold; color:#16456c; text-align:left; }
.col_rt .col_rtCnt{float:right; width:98%; min-height:730px;  background:#FFFFFF; /* background:url('../images/cnt_rpt.jpg')*/	padding-left:9px;}
/*Site Content : Ends*/

/* new Admin css*/.Admin_CntBtn{/*margin:0px auto 0px 0px;*/ margin:0px 0px 0px 0px; width:99%;}
.pageNumber_Text{float:left; margin:10px 0px 10px 0px; padding:2px 3px 2px 0px; width:160px; font-weight:bold;}
/**/
.pageNumber_cnt{float:left; margin:0px 0px 0px 5px; padding:2px 3px 2px 0px; width:100%;}
.pageNumber_btn{ float:left; margin-right:5px; font-size:11px; color:#666666;}
.pageNumber_btn a{padding:1px 4px; background-color:#f4f4f4; border:1px solid #e5e5e5; min-width:10px; color:#666666; display:block; text-decoration:none; text-align:center;}
.pageNumber_btn a:hover{background-color:#ffffff; border:1px solid #e5e5e5; color:#000d15;text-decoration:none;}
/**/
.Cnt_btn_rt
{float:left; display:block;	/*margin:10px 0px 0px 6px;*/ margin:5px 0px 0px 6px; padding:3px 11px;background:-webkit-linear-gradient(top,#fefefe,#e8e8e8); border:1px solid #999; color:#16456c; text-decoration:none;font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; border-radius:3px; font-weight:normal; outline:none 0px;}
.Cnt_btn_rt:hover{box-shadow: inset 0px 0px 3px #999; cursor:pointer;}
.Cnt_btn_rtftr{float:left; display:block; margin:5px 0px 0px 6px; padding:3px 3px;color:Black; text-decoration:none; font-size:12px; outline:none 0px;}
.Cnt_btn_rtlink{float:left; display:block; margin:5px 0px 0px 15px; padding:3px 3px; color:Black; text-decoration:underline; font-size:11px; outline:none 0px;}
.Cnt_btn_rtlink1{float:left; display:block; /*margin:10px 0px 0px 6px;*/ margin:5px 0px 0px 0px; padding:3px 3px; color:Black; text-decoration:none;
font-size:11px; outline:none 0px;}
.Cnt_btn_rtButtons{float:left; display:block; /*margin:10px 0px 0px 6px;*/ margin:5px 0px 0px 6px; padding:3px 11px; background:-webkit-linear-gradient(top,#fefefe,#e8e8e8); border:1px solid #999; color:#16456c; text-decoration:none;font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; border-radius:3px; font-weight:normal; outline:none 0px; cursor:pointer;
/*	float:left; display:block;margin:5px 0px 0px 5px; padding:2px 3px; background:#f4f4f4; border:1px solid #cacaca; color:#16456c; text-decoration:none; font-size:11px; outline:none 0px;*/}
.Cnt_btn_rtButtons:hover{box-shadow: inset 0px 0px 3px #999;}
.Cnt_btn_rt1{float:left; display:block;	margin:5px 0px 0px 6px; /*margin:5px 0px 10px 0px;*/padding:2px 3px; border:1px solid #cacaca;color:#16456c;
text-decoration:none; font-size:13px; outline:none 0px;}
.Cnt_btn_lt{float:left; display:block; margin:0px 6px 0px 0px ; padding:2px 3px; background:#f4f4f4; border:1px solid #cacaca; color:#16456c;text-decoration:none;font-size:11px;outline:none 0px;}
/**/
.Admin_Cnt{	margin:2px 0px 0px 5px; width:100%;	margin-bottom:0px;}
.Admin_Cntbar{ float:left; background:url(../images/cntbar_rpt.jpg) repeat-x top left; width:99.5%; height:35px; border:1px solid #bcbcbc;font-weight:bold; padding-left:5px; }
.Admin_Cntbar1{ float:left; background:url(../images/cntbar_rpt.jpg) repeat-x top left; width:99%; height:35px; border:1px solid #bcbcbc; font-weight:bold; padding-left:5px;}
.Admin_Cntbar2{ float:left; background:url(../images/cntbar_rpt.jpg) repeat-x top left; width:80%; height:35px; border:1px solid #bcbcbc;font-weight:bold; padding-left:5px;}
.Admin_Cntbar3{ float:left; background:url(../images/cntbar_rpt.jpg) repeat-x top left; width:98%; height:35px; border:1px solid #bcbcbc;font-weight:bold; padding-left:5px; }
.Admin_Cntbar_txt{float:left; padding:8px 5px;}
/**/
.Col_10{ display:inline; width:10%;}
.Col_20{ float:left; width:20%;}
.Col_70{ float:left; width:100%;
}
.Col_80{ float:left; width:80%;}
.Admin_Cnt_Txt{ float:left; padding:5px 0px; width:100%; min-height:35px; border:1px solid #bcbcbc;}
.Col_lt{ padding:3px 0px; font-weight:bold;}
.Col_rt{margin:0px; padding:3px 0px;}
/*Site Content : Ends*/
.divider {border-bottom:1px solid #CCCCCC; display:block; margin-bottom:5px; padding-top:5px;}
/*Site Form : Starts*/
.Fm_input{float:left; padding:3px; width:98.3%; height:14px; color:#777777;	font-size:11px;}
.Fm_TA{display:inline; overflow:auto; padding:3px; width:98.5%; font-family: Verdana,Arial,Helvetica,sans-serif; font-size:12px; color:#777777;	}
.Admin_Cntbar_gride{ float:left; width:100%; height:90%; border:1px solid #bcbcbc; font-weight:bold;}
/*Site Form : Ends*/
/*--------------------Admin Setup : Ends--------------------*/

/*end*/
/*--------------------Admin Setup : Ends--------------------*/
.Admin_Cntbar_txt_addedit{background:url(../images/cntbar_rpt.jpg) repeat-x top left; float:left; padding:px 5px; width:99%; height:10px; text-align:left; }
.Admin_Cnt_Txt_table{ float:left; padding:5px 0px 0px 0px; width:100%; min-height:35px; }
.Admin_Cnt_Txt_table1{float:left; padding:0px 2px 0px 10px; /*5px 2px 0px 10px*/ width:100%; min-height:35px; }
.Admin_Cnt_Txt_table2{ float:left; padding:10px 2px 0px 10px; width:100%; min-height:35px; }
.tdclass{float:left; padding-left:5px; }
.textbold{ padding-left: 5px; Font-size: 11px; color: black; font-family:Verdana,Arial,Helvetica,sans-serif ; text-align:left;font-weight:bold;}
.pannellink1 {color: black; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 11px; font-weight: bold; text-decoration: none;}
.pannellink1:hover {color: black; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 11px; font-weight: bold; text-decoration: underline;
}
.textbold1{ padding-left: 5px; font-size: 11px; color: black; font-family:Verdana,Arial,Helvetica,sans-serif ; text-align:center;font-weight:bold;}
.Cnt_btn_rt_fordetails{float:left; display:block;margin:10px 0px 0px 6px; padding:2px 3px; background:#f4f4f4; border:1px solid #cacaca; color:#16456c; text-decoration:none; font-size:11px; outline:none 0px;}
.textLink {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal; color:Black; text-decoration: underline;margin-left:7px;}
.textLink:hover {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px;font-weight: normal; color: #000000; text-decoration: none;}
.seelink {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal; color:Blue; text-decoration: underline;}
.seelink:hover {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px;font-weight: normal; color: #000000; text-decoration: none;}
.text {margin:6px 0px 0px 7px; padding:2px; padding-left: 5px; font-size: 11px; Color: black; font-family: Verdana, Arial, Helvetica, sans-serif;}
.textsearch {padding-left: 5px; font-size: 11px; /*COLOR: black; */margin:5px; font-family: Verdana, Arial, Helvetica, sans-serif; }
.textsearch1 {float:left; display:block; margin:5px 0px 0px 6px; padding:1px; text-decoration:none; font-size:12px; outline:none 0px;}
.Cnt_btn_Text{float:right; font-family: Verdana,Arial,Helvetica,sans-serif; display:block; margin:10px 0px 0px 6px; padding:2px 3px; color:#16456c;text-decoration:none; font-size:11px; outline:none 0px;}
.Cnt_btn_Search{float:right; font-family: Verdana,Arial,Helvetica,sans-serif; display:block; margin:10px 0px 0px 6px; padding:2px 3px;
color:#16456c; text-decoration:none; font-size:11px; outline:none 0px; font-weight:bold; }
/*grid view */
.titleheader{font-family:Verdana,Arial,Helvetica,sans-serif; font-size: 11px; font-weight: bold; background-color:#eeeeee; color: #333333;text-decoration: none;}
.item{font-family:Verdana,Arial,Helvetica,sans-serif ; font-size: 11px; font-weight: normal; background-color:#ffffff;	color: #000000;text-decoration: none;}
div {font-family:Verdana,Arial,Helvetica,sans-serif; font-size:11px;}
.Link:hover {color:#000000; font-family:Verdana,Arial,Helvetica,sans-serif; font-size:11px; font-weight:normal; text-decoration:none;}
.Link1:hover {color:#000000; font-family:Verdana,Arial,Helvetica,sans-serif; font-size:11px; font-weight:normal; text-decoration:none;}
.Link {color:#000000; font-family:Verdana,Arial,Helvetica,sans-serif; font-size:11px; font-weight:normal; text-decoration:underline;}
.Link1 {color:#000000; font-family:Verdana,Arial,Helvetica,sans-serif; font-size:11px; font-weight:normal; text-decoration:underline;margin-left:9px;}
/*End grid view*/

/*buutton*/
.Cnt_btn_rt_sub
{float:left; display:block;	/*margin:10px 0px 0px 6px;*/ margin:5px 0px 0px 6px; padding:3px 11px;background:-webkit-linear-gradient(top,#fefefe,#e8e8e8); border:1px solid #999; color:#16456c; text-decoration:none;font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; border-radius:3px; font-weight:normal; outline:none 0px;}
.Cnt_btn_rt_sub:hover{box-shadow: inset 0px 0px 3px #999; cursor:pointer;}
.Cnt_btn_rt_sub1{float:right; display:block; margin:10px 0px 5px 6px; padding:2px 3px; background:#f4f4f4; border:1px solid #999; color:#16456c;
text-decoration:none; font-size:11px; outline:none 0px;}
.listdropdown{font-size:11px; font-family: Verdana,Arial,Helvetica,sans-serif;}
.listintldiv{text-align:center; float:left; padding-top:5px;}
.divdetails{background-color:#e8e8e8; border-style:solid; border-width:1px; border-color:Gray; position:absolute; visibility:hidden;
font-family: Verdana, Arial, Helvetica, sans-serif; width:550px;}
.tabletext{font-family: Verdana, Arial, Helvetica, sans-serif;font-weight:bold;font-size:11px;}
.tdinnertext{padding-left: 5px; font-size: 11px; color: black; font-family: Verdana, Arial, Helvetica, sans-serif; }
.btncal{ display:block; display:inline; background:url(../Images/icon_calender.gif) no-repeat top left; width:27px; height:25px;}
.img-disable{cursor:text;}
.img-enable{cursor:default; text-decoration:underline;}
.rowbggrey{background-color: #e1e1e1 ! important;}
.GridVIewRowStyle_RedColor{border-right: #cccccc 0px solid; border-top: black 0px solid; padding-left: 8px; font-size: 10px; border-left: #cccccc 1px solid; color: #333333; border-bottom: #cccccc 1px solid; font-family: Verdana; background-color: Red; text-decoration: none; border-width: 1px;
border-color: black;}
/*end*/
.menubar .FormInput_hold select{ border: solid 1px #0073a4; background: rgba(255, 255, 255, 0.1); padding: 3px 5px; outline: 0;border-radius: 4px;
background-color: #FFF; font-size:12px; margin-top:-5px;}	
ul.headLinks2{margin: 0; padding: 0; list-style: none;text-align: left;}
ul.headLinks2 li {display: inline; padding: 0 5px; border-right: solid 1px #00a5ee;}
ul.headLinks2 li a {margin-top:5px; display: inline-block; padding: 0 0 5px; color: #fff; text-decoration: none;}
ul.headLinks2 li a:hover{text-decoration:underline;}
p.title{height: 16px; color: #000; font: bold 12px Verdana, Arial, Helvetica, sans-serif; vertical-align: bottom;}

.googletrends, .gettyevents{width:46%;display:inline-block; float:left;}
.gettyevents{float:right; width:52%;  }
#betfairmoney, #loginuserlist, #betfairvideo{display:none;}
ul.tabs { background:-webkit-linear-gradient(top,#fefefe,#e8e8e8); background:-moz-linear-gradient(top,#fefefe,#e8e8e8); clear:both;  height:30px; display:table; table-layout:auto; width:100%; }
ul.tabs li {list-style:none; text-transform:uppercase; font-size:12px; height:30px; display:table-cell; position:relative; border-right:solid 1px #CCC; width:33%;}
ul.tabs li:last-child { background:none; border:none;}
ul.tabs li a { display:block; padding:8px; text-decoration:none; color:#444444; text-align:center; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
ul.tabs li.active a { background:#FFF; box-shadow:inset 0px 0px 3px #ccc; color:#282828;}
ul.tabs li span{display:none;}
ul.tabs li.active span { text-align:center; display:block; position:absolute; left:0; bottom:0; width:100%; height:8px;}
ul.tabs li a:hover { background:#FFF; box-shadow:inset 0px 0px 3px #ccc; color:#282828;}
table.trendList { margin:0 0 10px; font:12px Verdana, Arial, Helvetica, sans-serif;}
table.trendList .date { background:#f3f3f3; padding:8px 12px;}
table.trendList img { padding:10px 12px 8px 12px;}
table.trendList h4 { margin:8px 0; font-size:17px;}
table.trendList a { display:inline-block; margin:8px 0; color:#1155cc; }
table.trendList span {/*text-overflow:ellipsis; white-space:nowrap;*/ display:block;}
table.trendList .newsSource { display:inline; font-size:11px; margin:0 0 0 16px; color:#666;}
table.trendList .hotness-scale { display:block;}
table.trendList .hotness-scale span { display:inline-block; width:10px; height:10px; margin-right:-5px; background:#CCCCCC;}
table.trendList .hotness-scale span.active { background:#f0a049;}
table.trendList .hotness-scale span.searchInfo { width:auto; background:none; margin:0 0 0 15px; vertical-align:top;}
/*#divLangs{width: 940px; min-width: 850px; position: absolute; top: 100px; box-shadow:0px 1px 3px 1px rgba(0, 0, 0, 0.6); -webkit-box-shadow:0px 1px 3px 1px rgba(0, 0, 0, 0.6);  -moz-box-shadow:0px 1px 3px 1px rgba(0, 0, 0, 0.6); background-color:#fff; display:none;}
.selectLang{padding:55px 0px 25px 10px; width:940px; margin:0px auto;}*/
.selectLang ul{ list-style:none;}
.selectLang ul li{ display:inline-flex; width:24%;}
.selectLang ul li input{ cursor:pointer;}
/*.selectLang .ctrlGrp{ top:10px; right:10px; cursor:pointer; position:absolute;}*/
.lsttext {font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 11px;font-weight: normal;color: #000000;width: 180px;height: 145px;text-decoration: none;}
.headings {font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 11px;font-weight: bold;color: #333333;text-decoration: none;}
.link {color: #000;text-decoration: underline;}
.link {font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 11px;font-weight: normal;color: #000000;text-decoration: underline;}
error {color: #ff0000;}
.error {font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 10px;font-weight: normal;color: #FF0000;text-decoration: none;}
.textReadonly {margin:6px 0px 0px 7px; padding:2px; padding-left: 5px; font-size: 11px; Color: black; font-family: Verdana, Arial, Helvetica, sans-serif; background-color:#F4F4F4;}
.footer {background: #374047;padding: 30px 0;text-align: center;color: #fff;font-family: Arial;font-size: 12px;}
.popup{ position:absolute;left:140px;top:2px;background-color:#fafafa;z-index:5588289;padding:5px;min-height:50px;font-weight:normal;
					border:1px solid #b6c0c6;min-width:450px; width:100%;max-width:800px;
					border-radius:6px;
			}
			.popup ul{list-style:inherit;}
			.popup span{background-color:#FFFFFF;font-weight:normal;word-wrap:break-word;
			}
			dialog {  background: #FFF;  width: 300px;  text-align: center;  padding: 0 0;  margin: 1em auto;  border: 0;    box-shadow:  0 3px 5px rgba(0,0,0,0.5);  }
        dialog::backdrop {  position: fixed;  top: 0;  left: 0;  right: 0;  bottom: 0;  background-color: rgba(255, 255, 255, 0.5);  }
        .heading-drop ul, .bookmark ul{margin:0; cursor:pointer; padding:6px 0 0;  box-shadow: 0 6px 5px rgba(0,0,0,0.4); display:none; width:150px; position: absolute; left:50%; transform:translateX(-50%);-webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);}
        .heading-drop, .bookmark{position: relative; font-weight: normal; line-height: 21px; padding: 0 10px;cursor: pointer;}
        .heading-drop:hover ul, .bookmark:hover ul{display: block}
        .heading-drop ul li,.bookmark ul li{display:block; background:#fff;font:bold 15px Arial,Helvetica,sans-serif; padding:7px 10px; text-align: left; border-bottom: 1px solid #efefef; cursor:pointer;}
        .bookmark ul li{font-size: 13px; line-height: 21px;}
        .bookmark ul{width:170px;}
        .heading-drop ul li:hover,.bookmark ul li:hover{background: #efefef;}
        .heading-drop ul li.heading-2{font-size: 24px;}
        .heading-drop ul li.heading-3{font-size: 21px;}
        .heading-drop ul li.heading-4{font-size: 18px;}
        .heading-drop ul li.heading-5{font-size: 16px;}
        #targetModal ul{margin:0;}
        #targetModal h4{font:bold 15px Arial,Helvetica,sans-serif; padding:7px 10px; background:#b6c0c6; border-bottom:#ccc; position: relative; text-align: left;}
        #targetModal h4 .closeModal{position: absolute;right: 7px;top: 5px;background: #00ADEE;color: #fff;width: 22px;border-radius: 50%;font-size: 18px;font-weight: normal;line-height: 19px;padding-top: 2px; cursor:pointer; text-align: center;}
        #targetModal h4 .closeModal:hover{background: #0075a6;}
        #targetModal ul li{display: block; padding: 10px 10px; cursor: pointer; text-align: left;font-size: 14px; border-bottom:1px solid #efefef;; font-size:12px; overflow:hidden; white-space: nowrap; text-overflow: ellipsis;}
        #targetModal ul li:hover{background:#efefef;}
