.PagerContainerTable
{
	border-right: #333333 1px solid;
	border-top: #333333 1px solid;
	border-left: #333333 1px solid;
	color: #d1d1e1;
	border-bottom: #333333 1px solid;
	background-color: #FFFFFF;
}
.PagerInfoCell
{
	padding-right: 6px;
	padding-left: 6px;
	padding-bottom: 3px;
	font: bold 11px Verdana,Arial,Helvetica,sans-serif;
	color: #000000;
	padding-top: 3px;
	white-space: nowrap;
	background-color: #f0f1f2;
	font-weight:normal;
}
.PagerInfoCell:link
{
	color: #ffcc66;
	text-decoration: none;
}
.PagerInfoCell:visited
{
	color: #ffcc66;
	text-decoration: none;
}
.PagerCurrentPageCell
{
	color: #990000;
	background-color: #F4F4F4;
	cursor:default;
}
.PagerOtherPageCells
{
	background-color: #f0f1f2;
}
.PagerSSCCells
{
	background-color: #cccccc;
}
.PagerHyperlinkStyle
{
	font: 11px Verdana,Arial,Helvetica,sans-serif;
}
.PagerHyperlinkStyle:hover
{
	color: #000000;
	text-decoration: none;
	font: 11px Verdana,Arial,Helvetica,sans-serif;
}
.PagerHyperlinkStyle:link
{
	color: #000000;
	text-decoration: none;
	font: 11px Verdana,Arial,Helvetica,sans-serif;
}
.PagerHyperlinkStyle:visited
{
	color: #000000;
	text-decoration: none;
	font: 11px Verdana,Arial,Helvetica,sans-serif;
}
.PagerHyperlinkStyle:active
{
	color: #000000;
	text-decoration: none;
	font: 11px Verdana,Arial,Helvetica,sans-serif;
}
.GoToLabel
{
	font: 11px Verdana,Arial,Helvetica,sans-serif;
	color:#333333;
	cursor:pointer;
	font-size:11px;
	vertical-align:middle;
	display:inline;
}
.GoToSelect
{
	font-size:11px;
}
.GoToSelectedOption
{
	color:#f9f9f9;
	background-color:#666666;
}

.GoToArrow
{
	vertical-align:middle;
	cursor:pointer;
}