<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
      <pages>
        <controls>       
         
          <add tagPrefix="Controls" src="~/Controls/Leftmenu.ascx" tagName="IncludeLeftmenu" />
        </controls>        
      </pages>
    </system.web>
  <appSettings>
    
    <add key="connString" value="data source=serverone\sql2008r2;initial catalog=GamingAppStore;password=Sql2011#itpl;persist security info=True;user id=sa;workstation id=bettingpro1;packet size=4096;Max Pool Size=500" />
    <add key="Network1" value="data source=serverone\sql2008r2;initial catalog=gamingnetwork1;password=Sql2011#itpl;persist security info=True;user id=sa;workstation id=bettingpro1;packet size=4096;Max Pool Size=500" />
    <add key="Network2" value="data source=serverone\sql2008r2;initial catalog=GamingAppStore;password=Sql2011#itpl;persist security info=True;user id=sa;workstation id=bettingpro1;packet size=4096;Max Pool Size=500" />
    <add key="Network3" value="data source=serverone\sql2008r2;initial catalog=GamingAppStore;password=Sql2011#itpl;persist security info=True;user id=sa;workstation id=bettingpro1;packet size=4096;Max Pool Size=500" />
    <add key="Network4" value="data source=serverone\sql2008r2;initial catalog=GamingAppStore;password=Sql2011#itpl;persist security info=True;user id=sa;workstation id=bettingpro1;packet size=4096;Max Pool Size=500" />
    <add key="Network5" value="data source=serverone\sql2008r2;initial catalog=GamingAppStore;password=Sql2011#itpl;persist security info=True;user id=sa;workstation id=bettingpro1;packet size=4096;Max Pool Size=500" />
    <add key="Network6" value="data source=serverone\sql2008r2;initial catalog=GamingAppStore;password=Sql2011#itpl;persist security info=True;user id=sa;workstation id=bettingpro1;packet size=4096;Max Pool Size=500" />
    <add key="ConnectionAppStoreLinkManager" value="data source=serverone\sql2008r2;initial catalog=AppStoreLinkManager;password=Sql2011#itpl;persist security info=True;user id=sa;workstation id=bettingpro1;packet size=4096;Max Pool Size=500" />
    <add key="Network8" value="data source=serverone\sql2008r2;initial catalog=gamingnetwork1;password=Sql2011#itpl;persist security info=True;user id=sa;workstation id=bettingpro1;packet size=4096;Max Pool Size=500" />
    <add key="Iframaddsense" value="data source=serverone\sql2008r2;initial catalog=GamingnetAdsense;password=Sql2011#itpl;persist security info=True;user id=sa;workstation id=bettingpro1;packet size=4096;Max Pool Size=500" />
        
    <add key="SiteURL" value="http://anil/offerlinkadmin/" />
    <add key="SitePath" value="D:\www\offerlinkadmin\" />
    <add key="AdminURL" value="http://anil/offerlinkadmin/" />
    <add key="ShowErrorAlert" value="false" />
    <add key="MachineType" value="local"></add>
    <add key="AdminURLCSS" value="http://anil/offerlinkadmin/css/" />  
    <add key="linkUrl" value="http://www.caledonianmedia.com/" />           
    <add key="Bitlyurl" value="http://www.caledonianmedia.com?id=" />
    <add key="BaseURL" value="http://anil/offerlinkadmin/" />
    <add key="OldAdminUrl" value="http://anil/gamingnetadmin/" />
  </appSettings> 
  
</configuration>
